body{
    align-items: center;
    justify-content: center;
}

/* para el div que abarca todo */
.appcalcu{
    height: 450px;
    width: 310px;
    border: 1px solid black;
    border-radius: 5px;
    
}

/*para el ir al div de todo directo al form que tiene los formularios*/
.appcalcu form{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

/*para ir al div de todo y luego exigir que sea los input tipo textfield*/
.appcalcu input[type=textfield]{
    height: 25%;
    width: 90%;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
}

.appcalcu input[type=button], input[type=reset]{
    width: 22%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 26px;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
}

.appcalcu .naranja{
    background-color: rgb(253, 149, 3) !important;
    color: white !important;

}

.appcalcu .gris{
    background-color: rgb(51, 51, 51) !important;
    color: white !important;

}